<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834202250517-4sm04slg7plaq9hsa00o9o9akc4t43nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834202250517-4sm04slg7plaq9hsa00o9o9akc4t43nb</string>
	<key>API_KEY</key>
	<string>AIzaSyAEajwjOboFJ2pTImPY5fIAbOU6p8L0tuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>834202250517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JacqW04.TrackThis</string>
	<key>PROJECT_ID</key>
	<string>trackthis-865eb</string>
	<key>STORAGE_BUCKET</key>
	<string>trackthis-865eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834202250517:ios:93aa150f1bba7be378cd1c</string>
</dict>
</plist>